
.new-div{
	background-color: $bodyGray;

	.new-form{ 
		width: 30%;
		margin: 0 auto;
		color: $textGray;
		text-align: center;
		font-family: Muli-ExtraLight;
		
		.new-h2{
			font-size: 14px;
			font-weight: 300;
			line-height: 27px;
			margin: 50px 0 0;
		}

		.new-h1{
			font-family: Muli-Light !important;
			font-size: 28px;
			font-weight: 300;
			line-height: 35px;
			margin-bottom: 50px;
			margin: 0;
		}

		.new-inputs{ 	
			padding: 0 10px;
			margin-top: 50px;
			
			.new-item{
				background-color: $bodyGray;
				font-family: Muli-ExtraLight;
				border-width: 0;
				font-size: 24px;
				border-bottom: 1px solid #757779;
				line-height: 50px;
				margin-bottom: 15px;
			}
		}

		.new-button{
			width: 50%;	
			border-radius: 100px;
			background-color: $buttonBack;
			color: $white;
			padding: 8px;
			border: none;
			margin: 30px auto 50px auto;
			display: block;
		}

		.new-p{
			margin: 50px auto 30px auto; 
			max-width: 960px;	
			font-family: Muli;	
			font-size: 10px;	
			font-weight: 200;	
			line-height: 13px;	
		}
	}
}