.blog {
  font-family: Muli;
  min-height: 110vh;
  text-align: center;

  .blog-cover {
    background-color: $grayBackground;
    color: $white;
    padding: 8em 6em;

    .blog-title {
      font-family: Muli-Light;
      font-size: 5em;
      font-weight: normal;
      margin: 0;
    }

    .blog-desc {
      font-size: 2em;
      font-weight: lighter;
      margin: 0;
    }
  }
}
.blog-posts-margin {
  margin-top: 3% !important;
}
.blog-posts {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 3em;
  padding: 0 2em;
  width: 100%;

  .post-item {
    box-sizing: border-box;
    color: $black;
    cursor: pointer;
    display: inline-block;
    margin: 10px -1px;
    min-width: 280px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    vertical-align: top;
    width: 23.36%;
    margin: 1%;
    

    &:hover {
      background-color: $lightGrey;
    }

    .post-image {
      padding-top: 55.1020408%;
      width: 100%;
    }

    .post-title {
      color: $footerLink;	
      font-family: Muli-extraLight;	
      font-size: 2em;	
      line-height: 25px;
      padding: 10px;
    }

    .post-excerpt {
      color: $footerLink;
      font-family: Muli-extraLight;
      font-size: 1.4em;
      line-height: 17px;
      max-height: 5.5em;
      overflow: hidden;
      padding: 10px;
    }

    .post-date {
      color: $footerLink;
      font-family: Muli-extraLight;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      margin: 0.5em 0 0;
      padding: 10px;
    } 
  }
  .show-more{
    color: #757779;
    height: 20px;	        
    font-family: Muli;
    font-size: 16px;	
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    width:100%;
    margin:8% 0px;
  }
}
.show-more-button{
  height: 38px;
  width: 180px;
  border-radius: 100px;
  border: none;
  background-color: #ADD44C;
  color: $white;
  text-align: center;
  padding: 10px;
  font-family: Muli-ExtraLight;
  font-size: 13px;
  line-height: 16px;
  
    @include center(true,false);
   
  &:hover {
    background-color: $ashes;
    cursor: pointer;
  }
}