<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Paci</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section class="first-section navbar-section-alt">
<nav class="navbar navbar-alt" id="menu">   
       <div class="menuToggle">
          <input class="burger" type="checkbox" />
          <span class="burger-span burguer-alt"></span>
          <span class="burger-span burguer-alt"></span>
          <span class="burger-span burguer-alt"></span>
          <ul class="menu">
            <li class="collapsed-item">
              <a href="#" class="item"><a href="paci-english.html">EN</a> / <a href="paci.html">ES</a></a>
            </li>
            <li class="collapsed-item">
              <a href="#tour" class="item">TOUR</a>
            </li>
            <li class="collapsed-item">
              <a href="#demo" class="item">DEMO</a>
            </li>
            <li class="collapsed-item">
              <a href="#planes" class="item">PLANES</a>        
            </li>  
            <li class="collapsed-item">
              <a href="#contacto" class="item">CONTACTO</a>        
            </li> 
            <li class="collapsed-item">
              <a href="#" class="item">INGRESAR</a>        
            </li>
            <li class="collapsed-item">
              <a href="#" class="item">REGÍSTRATE</a>        
            </li>
          </ul> 
        </div> 
      <a href="#" class="gray-navbar-logo logo-alt" id="gray-navbar-logo"></a>
       <ul class="gray-navbar-wrapper menu navbar-wrapper-alt" id="gray-navbar-wrapper">
         <li class="gray-list list-alt "><a href="paci-english.html">EN</a> / <a href="paci.html">ES</a></li>
         <li class="gray-list list-alt"><a href="#tour">TOUR</a></li>
         <li class="gray-list list-alt "><a href="#demo">DEMO</a></li>
         <li class="gray-list list-alt"><a href="#planes">PLANES</a></li>
         <li class="gray-list list-alt"><a href="#contacto">CONTACTO</a></li>
         <li class="gray-list list-alt "><a href="#">INGRESAR</a></li>
         <li class="gray-list list-alt"><button class="gray-navbar-button navbar-button-alt" id="register" >REGÍSTRATE</button></li>
       </ul> 
  </nav>
</section>

  <section class="login-section">
    <div class="login-div">
	  <form class="login-form">
	    <fieldset class="login-field">
		  <h1 class="login-h1">Accede a Paci</h1>
		  <p class="login-p">Ingresa los siguientes datos</p>
		  <input class="login-input" type="text" name="user" placeholder="Usuario"><br>
		  <input class="login-input" type="password" name="password" placeholder="Contraseña"><br>
		  <div class="check-div">
		    <label class="login-label"><input class="login-check" type="checkbox" name="remember">Recordar mis datos</label><br>
		  </div>
		  <input class="login-submit" type="submit" name="login" value="INGRESAR"><br>
		  <a href="#" class="login-link">¿Olvidaste tu contraseña?</a>
		</fieldset>
	  </form>
	</div>
  </section>
  <footer class="footer">
    <div class="footer-info">
      <a href="#"><img src="../assets/images/Paci-logo.svg" class="footer-logo"></a>
      <div class="footer-item">
        <h5 class="footer-header padding-footer">Contacto</h5>
        <a href="#" class="footer-link padding-footer">Contacto con ventas</a>
        <div class="footer-social">
          <a href="#" class="footer-network footer-facebook"></a>
          <a href="#" class="footer-network footer-youtube"></a>
          <a href="#" class="footer-network footer-vimeo"></a>
          <a href="#" class="footer-network footer-twitter"></a>
        </div>
      </div>
    </div>
    <div class="footer-navigation">
      <div class="footer-item">
        <h5 class="footer-header">Contáctanos</h5>
        <a href="#" class="footer-link">Tour</a>
        <a href="#" class="footer-link">Clientes</a>
        <a href="#" class="footer-link">Planes y precios</a>
      </div>
      <div class="footer-item">
        <h5 class="footer-header">Nosotros</h5>
        <a href="#" class="footer-link">Compañía</a>
        <a href="#" class="footer-link">Trabajos</a>
        <a href="#" class="footer-link">Blog</a>
      </div>
      <div class="footer-item">
        <h5 class="footer-header">Soporte</h5>
        <a href="#" class="footer-link">Centro de ayuda</a>
        <a href="#" class="footer-link">Demostración</a>
        <a href="#" class="footer-link">Términos y condiciones</a>
        <a href="#" class="footer-link">Seguridad</a>
        <a href="#" class="footer-link">Política de privacidad</a>
      </div>
    </div>
  </footer>
</body>
</html>